# top-most EditorConfig file
root = true

[*]
# all files should end with a new line
end_of_line = lf
insert_final_newline = true

# 2 space indentation
indent_style = space
indent_size = 2

# trim trailing white spaces
trim_trailing_whitespace = true
